html {
  box-sizing: border-box;
  font-size: 62.5%;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f5fc;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Utilities */

.grid {
  display: grid;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.padding-user {
  padding: 0;
}

.exclamation {
  border-radius: 50%;
  color: #e8ecf8;
  padding: 0.35rem 1rem;
  background-color: #757882;
}

.display-none {
  display: none;
}

.padding-result {
  padding: 3.2rem;
}

@media (min-width: 1080px) {
  .padding-user {
    padding: 3.2rem;
  }
}

/* Main */
.logo {
  width: 2.5rem;
  height: auto;
}

main {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  grid-template-rows: 2fr 1fr;
  gap: 3rem;
}

.user {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  font-size: 1.75rem;
  width: 90%;
  display: block;
  background-color: unset;
  border: none;
  margin: 1.5rem auto;
  padding: 3rem 0;
  resize: none;
  height: 65%;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-weight: bolder;
  color: #0a3871;
}

*:disabled {
  background-color: transparent;
  color: #000;
  cursor: text;
}

label {
  font-size: 1.5rem;
  color: #757882;
}

.flex-button {
  gap: 2rem;
  padding-top: 2rem;
  justify-content: space-around;
}

button {
  font-size: 1.75rem;
  border-radius: 2.4rem;
  padding: 0.75em 0;
  width: 100%;
  background-color: #D8DFE8;
  border: 1px solid #0A3871;
  cursor: pointer;
}

.btn-encriptar {
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
  transition: 1s all;
}

.btn-encriptar:hover {
  background: #0A3871;
  color: white;
  transform: scale(1.05);
}

.btn-desencriptar {
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
  transition: 1s all;
}

.btn-desencriptar:hover {
  background: #0A3871;
  color: white;
  transform: scale(1.05);
}

.copiar {
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
  transition: 1s all;
}

.copiar:hover {
  background: #0A3871;
  color: white;
  transform: scale(1.05);
}

/* MediaQueries */
@media (min-width: 1080px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
  }
  .logo {
    width: 3.5rem;
  }
  textarea {
    font-size: 2.5rem;
    margin: 3rem auto;
    height: 80%;
  }
  button {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  main {
    width: 75%;
  }
}

/* Translation */
.translation {
  z-index: 10;
  flex-direction: column;
  border-radius: 3.2rem;
  background-color: #fff;
}

.not-found {
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found img {
  display: none;
}

.empty {
  font-size: 2rem;
}

.empty-legend {
  font-size: 1.5rem;
}

.text-found {
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .not-found img {
    width: 75%;
    display: unset;
  }
}
/* Footer */
footer {
  background-color: #F3F5FC;
  font-size: 1.75rem;
  height: 10vh;
  text-align: center;
}

.icons {
  font-size: 2.5rem;
  gap: 1.5rem;
  padding-top: 1rem;
  justify-content: center;
}

.copyright {
  font-size:18px;
}

.autor {
  font-weight: bold;
  font-size: 17.5px;
}

.home__social {
  margin-top: 10px;
}

.home__social-icon {
  font-size: 30px;
}

.color-linkedin {
  color: #054A80;
}

.color-linkedin:hover {
  color: #1E72B4
}

.color-github {
  color: #000000
}

.color-github:hover {
  color: #585B5D;
}
